// Invisible
// GPL - Copyright (c) 2014 Rozaxe
// http://www.vergamote.com/invisible

doctype html
html
	head
		title Invisible
		meta(charset="utf8")
		link(rel="stylesheet" type="text/css" href="style.css")
		link(rel="icon" href="img/favicon.png")
	body
		#load
			.lure
			div Loading
				br
				noscript Votre naviguateur ne supporte pas Javascript !
			#reset(title="Attention irréversible") Supprimer sauvegarde
		#help.hidden
			img(src="img/cancel.png" id="cancel")
			.lure
			#sign Empty
		#board
			img(src="img/clue.png" id="clue")
			img(src="img/arrow.png" id="back")
			canvas(id="canvas")
			#input
				form
					input(type="text" id="answer")
					input(type="submit" id="submit" value="").ok
		#bonus
			img#new(src="img/new.png")
			#stamps

		// Section tuto
		#t1.hidden Commencez par cliquer sur une des tuiles
			img(src="img/aup.png")
		#t2.hidden Pour changer de tampons, c'est par ici
			img(src="img/adown.png")
		#t3.hidden Quelque chose se cache par là
			br
			| Approchez donc votre souris
			img(src="img/aleft.png")
		#t4.hidden Écrivez ici ce que vous pensez avoir deviné
			img(src="img/adown.png")

		#menu
			#tiles
			footer
				#audio
					audio#buzz.hidden(preload src="audio/Buzzer.ogg", type="audio/ogg")
					audio#applause.hidden(preload src="audio/Applause.ogg", type="audio/ogg")
					audio#win.hidden(preload src="audio/Win.ogg", type="audio/ogg")
					img.hidden(src="img/stop.png")
					img#player(src="img/play.png")
					audio#music(preload autoplay loop)
						source(src="audio/GoodStarts.mp3" type="audio/mp3")
				div Invisible - Designed by <a href="sources.zip">Rozaxe</a>

		script(src="js/min/app.min.js")
